.top-container{
    border: solid black 3px;
    height: 200px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    padding: 12px 10px; 
    box-sizing: border-box;

}
#purple-box {
    background-color: purple;
    height: 120px;
    width: 40px;
    margin-left: 10px;
    margin-top: 48px;
    display: inline-block;
}

#green-box {
    background-color: green;
    width: 300px;
    height: 176px;
    display: inline-block;
    margin: 0 40px;
}
#blue-circle {
    background-color: rgb(93, 192, 223);
    height: 176px;
    width: 176px;
    border-radius: 50%;
    display: inline-block;
}
.mid-container {
    border: dotted black 5px;
    height: 250px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

#cream-box {
    height: 150px;
    width: 860px;
    background-color: #fffacd;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px rgb(77, 76, 76);
}

.bottom-container {
    border: solid black 1px;
    height: 250px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
    box-shadow: 3px 3px rgb(179, 177, 177);
}
#greetings {
    font-size: 30px;
    font-weight: bold;
    color: navy;
    height: 50px;
    letter-spacing: 7px;
    
}