* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}
.top-rectangle {
    width: 100%;
    height: 20vh;
    background-color: #444444;

    }
.side-rectangles {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-color: #f5eeee;

    }
.bottom-rectangle {
    width: 80%;
    height: 10vh;
    background-color: black;
    margin: 0 auto;
}
